@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "SUSE";
}
.container {
  width: 100%;
  height: 100%;
  background-color: purple;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.container > .signUp {
  width: 350px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.probar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.probar > .num{
    width: 35px;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
    padding-top: 7px;
    background-color: #00000090;
    border: 2px solid ;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.probar > .line{
    width: 70px;
    height: 2px;
    background-color: purple;
}
h2{
    font-size: 30px;
    text-transform: uppercase;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
}
form > label {
    font-size: 12px;
    color: #00000090;
    margin-bottom: 5px;
}
form > input{
    padding: 5px;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    
}
.button{
    width: 70px;
    background-color: purple ;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    
}
.back{
    background-color: #00000090;
}
.complete{
    width: 40%;
    height: 10%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}
.complete i{
    font-size: 30px;
    color: #fff;
    background-color: purple;
    border-radius: 50%;
}

